@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --box-1: #03071233;
  --box-2: #11182733;
  --box-3: #1f293733;
}

@layer base {
  ::-webkit-scrollbar {
    @apply flex w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-200/5;
  }

  ::selection {
    @apply bg-gray-500/40;
  }
}
